.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
    height: 37px;
  }
  
  .customers tr:nth-child(even){background-color: #e0f9f9a4;}
  
  
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: rgb(240, 253, 253);
  }